{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'F:/Program Files/OpenServer/domains/music-school/src/Controller/ProductController.php'|file_link(0) }}">src/Controller/ProductController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/Program Files/OpenServer/domains/music-school/templates/product/index.html.twig'|file_link(0) }}">templates/product/index.html.twig</a></code></li>
    </ul>

    <div>
        <span>{{ form_start(form, {action:path('product.update', { 'id': form.vars.value.id }), method: 'POST'}) }}</span>
        <div class="form-control">
            <i class="fa"></i>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <span>{{ form_widget(form) }}</span>
        <input type="submit" value="Send">
        <span>{{ form_end(form) }}</span>
    </div>
</div>
{% endblock %}
